@keyframes fadeInLeft {
	from {	
		opacity: 0;	
		-webkit-transform: translateX(-50%); /* Safari */
		transform: translateX(-50%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0); /* Safari */
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;	
		-webkit-transform: translateX(50%); /* Safari */
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0); /* Safari */
		transform: translateX(0);
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;	
		-ms-transform: scale(0, 0); /* IE 9 */
		-webkit-transform: scale(0, 0); /* Safari */
		transform: scale(0, 0);
	}
	to {
		opacity: 1;
		-ms-transform: scale(1, 1); /* IE 9 */
		-webkit-transform: scale(1, 1); /* Safari */
		transform: scale(1, 1);
	}
}